<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="com.airm2m.luat_dev.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="com.airm2m.luat_dev.commands.category"
            id="com.airm2m.luat_dev.commands.sampleCommand">
      </command>
      <command
            categoryId="com.airm2m.luat_dev.commands.category_trace"
            id="com.airm2m.luat_dev.commands.sampleCommand_trace"
            name="Sample Command_trace">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.airm2m.luat_dev.commands.sampleCommand"
            class="com.airm2m.luat_dev.handlers.SampleHandler">
      </handler>
      <handler
            class="com.airm2m.luat_dev.handlers.SampleHandler_trace"
            commandId="com.airm2m.luat_dev.commands.sampleCommand_trace">
      </handler>
      <handler
            class="com.airm2m.luat_dev.handlers.SampleHandler_cfg"
            commandId="com.airm2m.luat_dev.commands.sampleCommand_cfg">
      </handler>
      <handler
            class="com.airm2m.luat_dev.handlers.taobao"
            commandId="com.airm2m.luat_dev.commands.taobao">
      </handler>
      <handler
            class="com.airm2m.luat_dev.handlers.MergeBin"
            commandId="com.airm2m.luat_dev.commands.MergeBin">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.airm2m.luat_dev.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="购买套件"
               mnemonic="M"
               id="com.airm2m.luat_dev.menus.sampleMenu">
            <command
                  commandId="com.airm2m.luat_dev.commands.taobao"
                  mnemonic="S"
                  label="官方淘宝店"
                  id="com.airm2m.luat_dev.menus.taobao">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.airm2m.luat_dev.toolbars.sampleToolbar">
            <command
                  commandId="com.airm2m.luat_dev.commands.sampleCommand"
                  icon="icons/agt_update_misc.png"
                  tooltip="download"
                  id="com.airm2m.luat_dev.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.airm2m.luat_dev.toolbars.sampleToolbar">
            <command
                  commandId="com.airm2m.luat_dev.commands.sampleCommand_trace"
                  icon="icons/printer.png"
                  id="com.airm2m.luat_dev.toolbars.sampleCommand"
                  tooltip="trace">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.airm2m.luat_dev.toolbars.sampleToolbar">
            <command
                  commandId="com.airm2m.luat_dev.commands.sampleCommand_cfg"
                  icon="icons/wrench.png"
                  id="com.airm2m.luat_dev.toolbars.sampleCommand"
                  tooltip="config">
            </command>
         </toolbar>
      </menuContribution>
      
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.airm2m.luat_dev.toolbars.sampleToolbar">
            <command
                  commandId="com.airm2m.luat_dev.commands.MergeBin"
                  icon="icons/Merge.png"
                  id="com.airm2m.luat_dev.toolbars.MergeBin"
                  tooltip="merge  file">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
